<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
    <head>
        <meta charset="UTF-8">
        <title th:text="#{index.page.title}">Thymeleaf Lesson - Index</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    </head>
    <body>
        <div class="jumbotron" style="background: lightgray" th:replace="fragments/jumbotron :: jumbotron">
            <div class="row">
                <h1 th:text="#{index.courses.tagline}">Thymeleaf main page example</h1>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <h3>This is a good header for a title</h3>
                </div>
                <div class="col-md-4">
                    <form class="form">
                        <button class="btn btn-block btn-primary" th:text="#{index.button.text}">Hola</button>
                    </form>
                </div>
            </div>
            <hr style="width: 75%">
            <br>

            <table>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                </tr>
                <tr th:each="product : ${products}">
                    <td th:text="${product.id}"></td>
                    <td th:text="${product.courseName}"></td>
                </tr>
            </table>

            <div class="row" th:remove="all">
                <div class="row">
                    <div class="col-md-4">
                        <a href="/product/1">
                            <div class="col-md-12">
                                <div class="course-box-image-container">
                                    <img class="img-fluid" src="https://th.bing.com/th/id/R.e290d56391d146d6975281be31e762e3?rik=gLRstOzoNkH6ew&pid=ImgRaw&r=0">
                                </div>
                                <div class="course-listing-title">
                                    XXXXXXXXXXXXXXXXXXXXXXXXX
                                </div>
                                <div class="course-listing-subtitle">
                                    xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a href="/product/2">
                            <div class="col-md-12">
                                <div class="course-box-image-container">
                                    <img class="img-fluid" src="https://th.bing.com/th/id/R.e290d56391d146d6975281be31e762e3?rik=gLRstOzoNkH6ew&pid=ImgRaw&r=0">
                                </div>
                                <div class="course-listing-title">
                                    XXXXXXXXXXXXXXXXXXXXXXXXX
                                </div>
                                <div class="course-listing-subtitle">
                                    xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a href="/product/3">
                            <div class="col-md-12">
                                <div class="course-box-image-container">
                                    <img class="img-fluid" src="https://th.bing.com/th/id/R.e290d56391d146d6975281be31e762e3?rik=gLRstOzoNkH6ew&pid=ImgRaw&r=0">
                                </div>
                                <div class="course-listing-title">
                                    XXXXXXXXXXXXXXXXXXXXXXXXX
                                </div>
                                <div class="course-listing-subtitle">
                                    xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a href="/product/4">
                            <div class="col-md-12">
                                <div class="course-box-image-container">
                                    <img class="img-fluid" src="https://th.bing.com/th/id/R.e290d56391d146d6975281be31e762e3?rik=gLRstOzoNkH6ew&pid=ImgRaw&r=0">
                                </div>
                                <div class="course-listing-title">
                                    XXXXXXXXXXXXXXXXXXXXXXXXX
                                </div>
                                <div class="course-listing-subtitle">
                                    xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a href="/product/5">
                            <div class="col-md-12">
                                <div class="course-box-image-container">
                                    <img class="img-fluid" src="https://th.bing.com/th/id/R.e290d56391d146d6975281be31e762e3?rik=gLRstOzoNkH6ew&pid=ImgRaw&r=0">
                                </div>
                                <div class="course-listing-title">
                                    XXXXXXXXXXXXXXXXXXXXXXXXX
                                </div>
                                <div class="course-listing-subtitle">
                                    xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a href="/product/6">
                            <div class="col-md-12">
                                <div class="course-box-image-container">
                                    <img class="img-fluid" src="https://th.bing.com/th/id/R.e290d56391d146d6975281be31e762e3?rik=gLRstOzoNkH6ew&pid=ImgRaw&r=0">
                                </div>
                                <div class="course-listing-title">
                                    XXXXXXXXXXXXXXXXXXXXXXXXX
                                </div>
                                <div class="course-listing-subtitle">
                                    xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <footer class="page-footer" th:replace="fragments/footer :: footer"></footer>
    </body>
</html>